<div class="container-fluid">
  <div class="row">
    <!-- add item component + inventory-list -->
    <div class="col-sm-12 col-md-6">
      <!-- add item component -->
      <app-add-item></app-add-item> 

      <!-- A horizontal row divider that seperates the 'add-item' and 'inventory-list' -->
      <hr>
      <!-- inventory-list -->
      <app-all-inventory></app-all-inventory>
    </div>

    <!-- edit inventory item + item-history  -->
    <div class="col-sm-12 col-md-6">
      <!-- edit item -->
      <app-edit-item></app-edit-item>

      <!-- item history -->

    </div>


  </div>
</div>